$default-body-background-color: #333;

a,
button {
  cursor: pointer;
}

body {
  background-color: $default-body-background-color;
}

#main-body.scroll-lock {
  overflow: hidden;
}

#root {
  margin-top: 50px;
}

@keyframes slideLeftRight {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(50%, 0);
  }
}
